@import "frappe.css";

* {
    font-family: FantasqueSansMono Nerd Font;
    font-size: 15px;
    min-height: 0;
    border-radius: 1rem;
}

#waybar {
    background: transparent;
    color: @text;
    margin: 5px 5px;
    border-radius: 1rem;
}

/*-----modules indv----*/
#workspaces {
    border-radius: 1rem;
    margin: 5px;
    background-color: @surface0;
    margin-left: 1rem;
}
#workspaces button {
    color: @lavender;
    padding: 1px 5px;
}
#workspaces button:hover {
    color: @sapphire;
    border-radius: 1rem;
}
#workspaces button.active {
    color: @sky;
    border-radius: 1rem;
}
#workspaces button.special.active {
    color: @lavender;
}
#workspaces button.special:hover {
    color: @sapphire;
    border-radius: 1rem;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#custom-media,
#mode,
#custom-menu,
#tray,
#custom-notification,
#bluetooth,
#custom-power {
    background-color: @surface0;
    padding: 0.5rem 1rem;
    margin: 5px 0;
}

/*-----Indicators----*/
#pulseaudio.muted {
    color: #cc3436;
}
#battery.charging {
    color: #2dcc36;
}
#battery.warning:not(.charging) {
    color: #e6e600;
}
#battery.critical:not(.charging) {
    color: #cc3436;
}
#temperature.critical {
    color: #cc3436;
}

#backlight-slider slider,
#pulseaudio-slider slider {
    background: #a1bdce;
    background-color: transparent;
    box-shadow: none;
    margin-right: 7px;
}

#backlight-slider trough,
#pulseaudio-slider trough {
    margin-top: -3px;
    min-width: 90px;
    min-height: 10px;
    margin-bottom: -4px;
    border-radius: 8px;
    background: #343434;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
    border-radius: 8px;
    background-color: #2096c0;
}
